body{
    background-color: rgb(0, 200, 255);
}
 
.nav_enlace{
    display: inline-block;
    background: rgb(2, 35, 75);
    color: #fff;
    padding: 25px 30px;
    text-decoration: none;
    height: 15px;
    font-size: 20px;
    font-weight: 450;
}
.nav_enlace:hover{
    background: rgb(39, 85, 116);
}
nav{
    background: rgb(70, 75, 120);
    padding: 10px;
    display: flex; 
    justify-content: space-around;
} 

.nav_btn{
    background: rgb(2, 35, 75);
    color: azure;
    padding: 10px 0px;
    border: 1px solid #fff;
    display: none;
}

@media screen and (max-width: 600px) {
    
    .nav{
       background-color: black;
       flex-direction: column;
       /* display: grid;  */
    }

    .nav_enlace{
     margin: 5px;
     text-align: center;
    }
    
    .nav_enlace:active{
        background-color: rgb(32, 182, 212);
        color: rgb(255, 255, 255);
    }

    .vete{
        display: none;
    }
    .nav_btn{
        background: rgb(2, 35, 75);
        color: azure;
        padding: 10px 0px;
        border: 1px solid #fff;
        display: inline-block;
        
    }

}   
