/*casi siempre cambio el fondo*/
body{
    background-image: linear-gradient(120deg, rgb(5, 58, 144) 0%, rgb(91, 27, 15));
    min-height: 2000vh;

}
 /*aqui va el titulo*/
.vidio{
    background-image: linear-gradient(120deg, rgb(14, 105, 251) 0%, rgb(91, 27, 15));                            
    width: 100%;
    height: 175px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
}
.vidio__titulo{
    position: absolute;
    left: 38%;
    color: aliceblue;
}
.vidio__parrafo{
    color: rgb(188, 228, 228);
    position: absolute;
    font-size: 20px;
    left: 15%;
    text-decoration: wavy;
    top: 75px;
    text-wrap: balance;
}

/*aqui puse lo pricipal de la pagina donde abrá un video y un audio reproduciendoce */
.vid0{
    position: relative;
    background-color: black;
    width: 55%;
    height: 350px;
    border-radius: 25px;
    margin: auto;

}

/*audio de fondo*/
#myaudio{
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid;
    top: 10px;
    background-image: linear-gradient(100deg, rgb(0, 213, 255) 10%, red 100%); 
    font-size: 25px;
    font-weight:600;
    animation-name: rotar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#myaudio:hover{
    background-image: linear-gradient(150deg, rgb(0, 128, 255) 10%, red 100%);
}
#myaudio:active{
    background-image: linear-gradient(200deg, rgb(8, 21, 255) 10%, rgb(0, 0, 0) 100%);
}
/*
.rotar {
    transform: rotate(360deg);
    animation-play-state: running;
    animation-iteration-count: infinite;
  }
  
.detener {
    animation-play-state: paused;
  }
  */


/*aqui en esta section puse en practica lo de poner el contenedor como absolute y lo de dentro como relative*/
section{
    background-color: rgb(2, 188, 255);
    position: absolute;
    top: 200px;
    left: 0px;
    margin: auto;
    width: 100%;
    border-radius: 25px ;
    height: 12800px;
    display:inline;
}

iframe{
    position: relative;
    border: 3px solid red;
    border-radius: 25px;
    width:90%; 
    height:250px;
    left: 3%;
    top: 5%;
}

/* aqui van todos las divs que porataran tanto el video como el audio */
.vid1{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 90px;
    margin: 10px;
    left: 3%;
}
.vid2{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -90px;
    margin: 10px;
    left: 51%;
}
.vid3{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 65px;
    margin: 10px;
    left: 3%;
}
.vid4{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -120px;
    margin: 10px;
    left: 51%;
}
.vid5{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid6{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}
.vid7{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid8{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}
.vid9{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid10{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}
.vid11{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid12{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}
.vid13{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid14{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}
.vid15{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid16{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}
.vid17{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid18{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}
.vid19{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid20{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}
.vid21{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid22{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}

/*
.vid23{
    position: relative;
    background-color: rgb(245, 32, 32);
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid24{
    position: relative;
    background-color: rgb(245, 116, 116);
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}
.vid25{
    position: relative;
    background-color: rgb(211, 23, 23);
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid26{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}
.vid27{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}*/






/*un text nunca queda mal aqui abajop ajajajj*/
footer{
position: relative;
top: 12850px;
}

@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}
div {
    view-timeline-name: --vew;
    view-timeline-axis: block;

    animation-timeline: --vew;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}



@media screen and (max-width:860px){
    
    .vidio__parrafo{
        font-size: 15px;
        color: rgb(0, 183, 255);
    }

    .vidio{
        height: 180px;
    }

    section{
        background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.865) 10%, rgb(139, 207, 255) 100%);
    }
}

@media screen and (max-width:460px){
 
    dv{
        width: 50% ;
        height: 50px;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    section{
         background-image: linear-gradient(100deg, rgba(87, 116, 247, 0.865) 10%, rgb(243, 243, 243) 100%);
    }
 
    #myaudio{
    width: 75px;
    height: 75px;
    font-size: 15px;
    text-align: center;
    color: rgb(97, 243, 243);
    }
}
 



    

