body{
    background-image: linear-gradient(150deg, rgb(108, 250, 255) 5%, blue 100%);
    min-height: 3050vh;
    transition: 2s;
}
body:hover{
    background-image: linear-gradient(250deg, rgb(2, 92, 137) 5%, rgb(119, 229, 250));
    display: block;
}

.container1{
position: absolute;
width: 50%;
height: 20000px;
background-image: linear-gradient(200deg, rgb(123, 207, 255) 10%, rgb(0, 225, 255));
border-radius: 25px 0px 0px 25px;
left: 0px;
display:inline-block;
}

.vid1{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 100px;
    margin: auto;
     
}
.vid2{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 400px;
    margin: auto;
} 
.vid3{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 700px;
    margin: auto;
} 
.vid4{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 1000px;
    margin: auto;
} 
.vid5{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top:1300px;
    margin: auto;
} 
.vid6{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 1600px;
    margin: auto;
} 
.vid7{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 1900px;
    margin: auto;
} 
.vid8{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 2200px;
    margin: auto;
} 
.vid9{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 2500px;
    margin: auto;
} 
.vid10{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 2800px;
    margin: auto;
} 
.vid11{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 3100px;
    margin: auto;
} 
.vid12{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 3400px;
    margin: auto;
} 
.vid13{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 3700px;
    margin: auto;
} 
.vid14{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 4000px;
    margin: auto;
} 
.vid15{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 4300px;
    margin: auto;
} 
.vid16{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 4600px;
    margin: auto;
     
}
.vid17{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 4900px;
    margin: auto;
} 
.vid18{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 5100px;
    margin: auto;
} 
.vid19{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 5400px;
    margin: auto;
} 
.vid20{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top:5700px;
    margin: auto;
} 
.vid21{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 6000px;
    margin: auto;
} 
.vid22{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 6300px;
    margin: auto;
} 
.vid23{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 6600px;
    margin: auto;
} 
.vid24{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 6900px;
    margin: auto;
} 
.vid25{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 7200px;
    margin: auto;
}

/*jhgohreoptjh6ihwl, nopiurtylwi elgmkn-volh{o jknc kvbuyghbuh4ulorem */
.container2{
position: absolute;
width: 50%;
height: 20000px;
background-image: linear-gradient(200deg, rgb(123, 207, 255) 10%, rgb(0, 225, 255));
border-radius: 0px 25px 25px 0px;
left: 50%;
display: inline-block;
}
.vid26{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 300px;
    margin: auto;
} 
.vid27{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 600px;
    margin: auto;
} 
.vid28{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 900px;
    margin: auto;
} 
.vid29{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 1200px;
    margin: auto;
} 
.vid30{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 1500px;
    margin: auto;
} 
.vid31{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 1800px;
    margin: auto;
} 
.vid32{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 2200px;
    margin: auto;
} 
.vid33{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 2500px;
    margin: auto;
} 
.vid34{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 2800px;
    margin: auto;
} 
.vid35{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 3200px;
    margin: auto;
} 
.vid36{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 3500px;
    margin: auto;
} 
.vid37{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 3800px;
    margin: auto;
} 
.vid38{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 4200px;
    margin: auto;
} 
.vid39{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 4500px;
    margin: auto;
} 
.vid40{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 4800px;
    margin: auto;
} 
.vid41{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 5200px;
    margin: auto;
} 
.vid42{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 5600px;
    margin: auto;
} 
.vid43{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 5800px;
    margin: auto;
} 
.vid44{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 6200px;
    margin: auto;
} 
.vid45{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 6500px;
    margin: auto;
} 
.vid46{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 6800px;
    margin: auto;
} 
.vid47{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 7200px;
    margin: auto;
} 
.vid48{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 7500px;
    margin: auto;
} 
.vid49{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 7800px;
    margin: auto;
} 
.vid50{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 85%;
    height: 400px;
    border-radius: 25px;
    top: 8200px;
    margin: auto;
} 


 /*aqui va el titulo*/
 .vidio{
    background-image: linear-gradient(120deg, rgb(14, 105, 251) 0%, rgb(91, 27, 15));                            
    width: 100%;
    height: 175px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
}
.vidio__titulo{
    position: absolute;
    left: 38%;
    color: aliceblue;
}
.vidio__parrafo{
    color: rgb(188, 228, 228);
    position: absolute;
    font-size: 20px;
    left: 15%;
    text-decoration: wavy;
    top: 75px;
    text-wrap: balance;
}


/*audio de fondo*/
#myAudio{
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid;
    top: 10px;
    background-image: linear-gradient(100deg, rgb(0, 213, 255) 10%, red 100%); 
    font-size: 25px;
    font-weight:600;
    animation-name: rotar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotar{
    from{
        transform: rotate();
    }to{
        transform: rotate(360deg);
    }
}
#myAudio:hover{
    background-image: linear-gradient(150deg, rgb(0, 128, 255) 10%, red 100%);
}
#myAudio:active{
    background-image: linear-gradient(200deg, rgb(8, 21, 255) 10%, rgb(0, 0, 0) 100%);
}

.vid0{
    position: relative;
    background-color: black;
    width: 1150px;
    height: 400px;
    border-radius: 25px;
    margin: auto;
    display: flex;
}

iframe{
    position: relative;
    border: 3px solid red;
    border-radius: 25px;
    width:90%; 
    height:290px;
    top: 10%;
    left: 5%;
}

div{
    view-timeline-name: --vew;
    view-timeline-axis: block;

    animation-timeline: --vew;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode:both;
}

footer{
    position: absolute;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    height:250px;
    background-color: rgb(255, 255, 255);
    left:0px;
    top: 20400px;
        
}
 
.insta{
    width: 85px;
    height: 85px ;
    background-color: rgb(56, 85, 109);
    top: 10PX;
}

.wa{
    width: 115px;
    height: 85px;
    background-color:rgb(56, 85, 109);
}

.jub{
    width: 115px;
    height: 85px;
    background-color: rgb(46, 85, 109);
   
}

.lorem{
    position: absolute;
    margin-top: 20000px;
    background-color: rgb(46, 85, 109);
    color: aliceblue;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 25px;
    left: 0px;
    height: 175px;
    text-align: center;
    font-style: initial;
}

@media screen and (max-width:425px){
   .vid0{
    width: 100%;
   }
   .vidio__parrafo{
    font-size: 13px;
    top: 100px;
    font-weight: 600;
   }

    body{
        max-width: 100vh;
        min-height: 500vh;
    }
    .container1, .container2{
        height: 18300px ;
         
        position: relative;
        left: 0px;
        width: 100%;
        border-radius: 25px;

    }
    .container1{
        border-radius: 25px 25px 0px 0px ;
        background-image: linear-gradient(200deg, rgb(227, 255, 252) 0%, rgb(0, 225, 255)50%);
    }
    .container2{
        border-radius: 0px 0px 25px 25px ;
        background-image: linear-gradient(200deg, rgb(0, 225, 255) 50%, rgb(170, 205, 255)100%);
    }
}