*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', 'Sans serif';
}
 
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin:auto;
    font-size: 35px;
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right, #bac1a4, #ffebeb );
    position: relative;
}

.header_nav{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.header_nav h1{
    color:rgb(118, 109, 97);
    font-family: 'Titan One', sans-serif;
    font-weight: 550;
}

.header_nav nav a{
    color:rgb(118, 109, 97);
    text-decoration: none;
    margin-right: 10px;
}


.banner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
}

.banner_title h2{
    color:rgb(118, 109, 97);
    font-size: 60px;
    margin-bottom:20px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}


.banner_title .hablame{
    background-image: linear-gradient(150deg, rgb(136, 136, 141)5%, rgb(171, 150, 110)100% );
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    color: #d6cf93;
    padding: 20px;
    font-size: 20px;
}

.hablame:hover{
    background-image: linear-gradient(150deg, rgb(123, 123, 129)5%, rgb(137, 119, 87)100% );
}

.banner_img img{
width: 400px;
display: block;
} 
/*.burbujas */
.burbuja{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(146, 142, 83);
    opacity: .3;
    position: absolute;
    bottom: 0;
    left: 5%;
}

img{
    border-radius: 50%;
}
