/*casi siempre cambio el fondo*/
body{
    background-image: linear-gradient(120deg, rgb(5, 58, 144) 0%, rgb(91, 27, 15));
    min-height: 1000vh;
     
}
 /*aqui va el titulo*/
.vidio{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 150px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
}

/*aqui puse lo pricipal de la pagina donde abrá un video y un audio reproduciendoce */
.vid0{
    position: relative;
    background-color: black;
    width: 55%;
    height: 350px;
    border-radius: 25px;
    margin: auto;

}

/*aqui en esta section puse en practica lo de poner el contenedor como absolute y lo de dentro como relative*/
section{
    background-color: rgb(2, 188, 255);
    position: absolute;
    top: 200px;
    left: 30px;
    margin: auto;
    width: 95%;
    border-radius: 25px ;
    height: 6300px;
    display:inline;
}

iframe{
    position: relative;
    border: 3px solid red;
    border-radius: 25px;
    width:90%; 
    height:250px;
    left: 3%;
    top: 5%;
}

/*aqui me dio para acer ua clase de pantalla para acemejar una tv*/
.vid{
    position: relative;
    background-color: azure;
    width: 90%;
    height: 250px;
    top: 30px;
    left: 15px;
    border-radius: 25px;
}

/* aqui van todos las divs que porataran tanto el video como el audio */
.vid1{
    font-family: 'Times New Roman', Times;
    color: ivory;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 90px;
    margin: 10px;
    left: 3%;
}
.vid2{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -90px;
    margin: 10px;
    left: 51%;
}
.vid3{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 65px;
    margin: 10px;
    left: 3%;
}
.vid4{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -120px;
    margin: 10px;
    left: 51%;
}
.vid5{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: 100px;
    margin: 10px;
    left: 3%;
}
.vid6{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    border-radius: 25px;
    top: -110px;
    margin: 10px;
    left: 51%;
}

/*un text nunca queda mal aqui abajop ajajajj*/
footer{
position: relative;
top: 6350px;
}